[Unit]
Description=XMPP to Nextcloud+JSXC authentication bridge

[Service]
ExecStart=/opt/xmpp-cloud-auth/xcauth.py
StandardInput=socket
User=xcauth
Requires=xcauth.socket
