[Unit]
Description=XMPP to Nextcloud+JSXC authentication bridge for ejabberd
Requires=xcejabberd.socket

[Service]
ExecStart=/opt/xmpp-cloud-auth/xcauth.py -t ejabberd
User=xcauth

[Install]
WantedBy=multi-user.target
