[Unit]
Description=XMPP to Nextcloud+JSXC authentication bridge for ejabberd
PartOf=xcejabberd.service

[Socket]
ListenStream=[::1]:23662
ListenStream=127.0.0.1:23662
Accept=no
FileDescriptorName=ejabberd

[Install]
WantedBy=multi-user.target
