[Unit]
Description=Postfix virtual mailbox to Nextcloud+JSXC bridge
Requires=xcpostfix.socket

[Service]
ExecStart=/opt/xmpp-cloud-auth/xcauth.py -t postfix
User=xcauth

[Install]
WantedBy=multi-user.target
