[Unit]
Description=Postfix virtual mailbox to Nextcloud+JSXC bridge

[Socket]
ListenStream=[::1]:23665
ListenStream=127.0.0.1:23665
Accept=false
FileDescriptorName=postfix

[Install]
WantedBy=multi-user.target
