[Unit]
Description=SASL to Nextcloud+JSXC authentication bridge
PartOf=xcsaslauth.service

[Socket]
ListenStream=/var/run/saslauthd/mux
SocketUser=root
SocketGroup=sasl
SocketMode=660
DirectoryMode=710
Accept=yes
FileDescriptorName=saslauthd

[Install]
WantedBy=multi-user.target
