[Unit]
Description=SASL to Nextcloud+JSXC authentication bridge
Requires=xcsaslauth.socket

[Service]
ExecStart=/opt/xmpp-cloud-auth/xcauth.py -t saslauthd
User=xcauth

[Install]
WantedBy=multi-user.target
