[Unit]
Description=XMPP to Nextcloud+JSXC authentication bridge

[Service]
ExecStart=/opt/xmpp-cloud-auth/external_cloud.py
StandardInput=socket
User=prosody
